docs
.qodo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
data/*.json
